.flexParent {
  font-family: "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: row;
}


topnavDetails
.noData {
  margin: 20px;
}

.mainContent {
  font-size: 10px;
  height: 100%;
  width: 100%;
}

.entry {
  width: 100px;
}

.hidden {
  visibility: hidden;
  display: none;
}

.login {
  width: 400px;
  height: 700px;
  font-size: 35px;
  color: #49A078;
  background-color: #e2e9e3;

  border: 2px solid black;
  border-radius: 10px;
  text-align: center;

  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.login input {
  text-align: center;
  margin-top: 10%;
  height: 5%;
  width: 70%;
  font-size: 80%;
  border: none;
  border-bottom: 3px solid #49A078;
  background-color: #e2e9e3;
  color: #49A078;
}

.login button {
  width: 25%;
  font-size: 20px;
  border-radius: 20px;
  margin-top: 10%;
  margin-right: 5px;
  background-color: #DCE1DE;
  border: 2px solid grey;
  cursor: pointer;

}
.login button:hover {
  background-color: #9CC5A1;
  border-color: black;
}

.loginProperties {
  margin-top: 10%;
}


.binder {
  margin-top: 10%;
  font-size: 100px;
  width: 100%;
  color: #358471;
  text-shadow: 3px 3px grey;
}

.binder img{
  max-height:100%; max-width:90%;

}

.forgotPassword {
  margin-top: 5%;
  font-size: 15px;
  font-weight: bold;
  width: auto;
}
/*
.forgotPassword:hover {
  text-decoration: underline;
  cursor: pointer;
}
Remove comment when functionality exists
*/

.notRegistered {
  margin-top: 25%;
  font-size: 15px;
  font-weight: bold;
  width: auto;
}

.notRegistered:hover {
  text-decoration: underline;
  cursor: pointer;
}

.profileInfo {
  width: 400px;
  height: 700px;
  font-size: 30px;
  color: #1F2421;
  background-color: #e2e9e3;

  border: 2px solid black;
  border-radius: 10px;
  text-align: center;

  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.profileInfoHeader {
  color: #49A078;
  text-transform: capitalize;
}

.profileInfo button {
  width: 25%;
  font-size: 20px;
  border-radius: 20px;
  margin-top: 10%;
  margin-right: 5px;
  background-color: #DCE1DE;
  border: 2px solid grey;
}
.profileInfo button:hover {
  color: white
}

.table {
  font-size: 20px;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: none;
  text-align: center;
  overflow: scroll;

  white-space: nowrap;
}

.cut-off {
  padding-left: 5px;
  width: 280px;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  cursor: pointer;
}
.cut-off:hover {
  color: #49A078;
  cursor: pointer;
}

.table tbody {
  font-size: 25px;
}

.table tbody img {
  margin-left: 5px;
}
.table button {
  border-radius: 50%;
  border-style: solid;
  border-color: #1F2421;
  width: 7.5%;
  height: 7.5%;
  margin-left: 5px;
  background-color: white;
  transition: background-color 100ms ease-out 100ms;
}
.table button:hover {
  background-color: #49A078;
  color: white;
}

.tablehead {
  color: black;
  font-size: 30px;
  border: none;
}

.tableContainer {
  width: 100%;
  height: 350px;
  font-size: 10px;
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  display: none;
}

.create {
  width: 400px;
  height: 700px;
  font-size: 35px;
  text-align: center;

  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: #e2e9e3;
  border: 2px solid black;
  border-radius: 10px;

  color: #49A078;

  margin: auto;

}

.create input {
  text-align: center;
  margin-top: 10%;
  height: 5%;
  width: 70%;
  font-size: 80%;
  border: none;
  border-bottom: 3px solid #49A078;
  background-color: inherit;
  color: #1F2421;
}

.create button {
  width: 25%;
  font-size: 20px;
  border-radius: 20px;
  margin-top: 10%;
  margin-right: 5px;
  background-color: #DCE1DE;
  border: 2px solid grey;
  cursor: pointer;
}


.create button:hover {
  background-color: #9CC5A1;
  border-color: black;
}

.create button:disabled {
  background-color: #DCE1DE;
  border: 2px solid grey;

}




.swipe {
  width: 400px;
  height: 700px;
  font-size: 20px;
  color: tomato;
  background-color: #e2e9e3;

  border: 2px solid black;
  border-radius: 10px;
  text-align: center;

  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  
}

.swipe button {
  width: 25%;
  font-size: 20px;
  border-style: none;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #DCE1DE;
  border: 2px solid grey;
  margin-left: -60%;
  border-radius: 20px;
  cursor: pointer;
}

.swipe button:hover {
  color:white
}

.details {
  width: 400px;
  height: 700px;
  font-size: 20px;
  color: #49A078;
  background-color: #e2e9e3;

  border: 2px solid black;
  border-radius: 10px;
  text-align: center;

  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.bookInfo {
  width: 90%;
  height: 75%;
  margin-left: 5%;
  margin-top: 20px;
}

.bookInfo img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;

}

.swipeTitle {
  text-align: left;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;


  left: 0;
  margin-top: -150px;
  margin-left: 25px;
  font-size: 40px;
  color: white;
  text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black,
    -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black,
    0.05em 0.05em black;
}

.author {
  font-size: 25px;
  margin-left: 25px;
  text-align: left;
  color: white;
  text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black,
    -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black,
    0.05em 0.05em black;
}

.description {
  font-size: 20px;
  margin-left: 25px;
  text-align: left;
  color: white;
  text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black,
    -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black,
    0.05em 0.05em black;
}
.like {
  width: 75px;
  height: 75px;
  display: flex;
  bottom: 75px;
  left: 275px;
  position: absolute;
  cursor: pointer;

}
.like:hover {
  transform: scale(1.1);
  
}

.dislike {
  width: 75px;
  height: 75px;
  display: flex;
  bottom: 75px;
  left: 50px;
  position: absolute;
  cursor: pointer;

}
.dislike:hover {
  transform: scale(1.1);
}
.img {
  position: relative;
}

.likedBookRemove {
  position: middle;
}

.removeButton {
  position: relative;
  left: 0px;
  top: -8px;
  cursor: pointer;
}

.bookCoverDetails {
  vertical-align: center;
  display: inline-block;
}

.bookTitleDetails {
  vertical-align: center;
  display: inline-block;
  position: relative;
  font-size: 30px;
}

.bookDetailsButton {
  width: 25%;
  font-size: 20px;
  border-radius: 20px;
  background-color: #DCE1DE;
  border: 2px solid grey;

  position: relative;
  top: 130px;
}

.bookDetailsButton:hover {
  background-color: rgb(213, 235, 255);
  border-color: black;
}

.bookDetailsImage {
  padding-top: 10px;
  height: 290px;
  width: 190px;
  cursor: crosshair;
}

.bookDescriptionDetails {
  width: 350px;
  height: 230px;
  font-size: 20px;
  color: black;

  border-radius: 10px;
  text-align: center;

  display: inline-block;
  position: relative;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;

  overflow: scroll;

  margin: auto;
}

.aboutUsDescription {
  width: 350px;
  height: 230px;
  font-size: 20px;
  color: black;

  border-radius: 10px;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
}

.waiting {
  margin-top: 50%;
  width: 70px;
}

.topnav {
  background-color: #333;
  height: 70px;
  width: 100%;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 85px;
  opacity: 0.9;

}

.iconcontain {
  font-size: 20px;
  height: 75px;
  width: 75px;
  margin: 0;
  display: inline-block;
  color: grey;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;

}

.iconcontain:hover{
  color:white
}

.iconcontain:hover img{
  filter: brightness(0) invert(1);
  
}

.iconcontainCurr {
  font-size: 20px;
  
  height: 75px;
  width: 75px;
  margin: 0;
  display: inline-block;
  color: white;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
.iconcontainCurr img{
  filter: brightness(0) invert(1);

  
}


.topnav button{
  background-color: #333;
  color: grey;
  font-size: 23px;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 0px;
  margin: 0;
  height: 100%;
  opacity: 1;
}

.topnav button:hover{
  color:white
}

#swipebutton {
  color:white;
}

#profilebutton{
  color:white
}



.topnavProfile {
  background-color: #333;
  height: 70px;
  width: 100%;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 20px;
  opacity: 0.9;
  

}


.topnavProfile button{
  background-color: #333;
  color: grey;
  font-size: 23px;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 0px;
  margin: 0;
  height: 100%;
  opacity: 1;
}


.topnavDetails {
  background-color: #333;
  height: 70px;
  width: 100%;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 85px;
  opacity: 0.9;
  

}

.topnavDetailsUser {
  background-color: #333;
  height: 70px;
  width: 100%;
  border-radius: inherit;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 20px;
  opacity: 0.9;

}



#detailsbutton {
  color: white
}


.topnavDetails button{
  background-color: #333;
  color: grey;
  font-size: 23px;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 0px;
  margin: 0;
  height: 100%;
  opacity: 1;
}

.userSubjects{
  width: 100%;
  height: 375px;
  overflow: scroll;
  
}

.userSubjects button{
  width: auto;
  height: auto;
  text-align: center;
  font-size: 12px;
  border-radius: 0;
  margin: 0;
  display: inline;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 10px;
}


#nextbtn {
  margin-top: 0;
}



@media only screen and (max-width: 400px) {
  .flexParent {
    flex-direction: column;
  }

  .login {
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    color: #49A078;

    margin: auto;
    width: 90vw;
    height: 90vh;
    font-size: 24px;
    border: 2px solid black;
    text-align: center;
    
  }
}
